.signup-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    


}

.signup-box{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
}
.signup-form{
    display:flex;
    flex-direction:column;
    
}

.signup-data-fields{
    height: 40px;
    width: 230px;
    padding-left: 20px;
    border: 1px solid darkgray;
    border-radius: 25px;
    outline: none;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    margin: 10px 0;
}

.signup-btn{
    height: 40px;
    width: 254px;
    border: none;
    border-radius: 25px;
    outline: none;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    
    cursor: pointer;
    background-color: #70350b;
    color: #ffff;

    margin: 10px 0 20px 0;

}

.google-sign-in{
    height: 40px;
    width: 254px;
    border: 1px solid darkgray;
    border-radius: 25px;
    outline: none;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    
    cursor: pointer;
    margin: 20px 0 10px 0;
   
    
    
}
.google-sign-in:hover{
    background-color: #f2f2f2;
}

.google-sign-in img{
    height: 40px;
    width: 40px;
}

.google-sign-in p{
    font-size: 15px;
    font-weight: 750px;
    color: #000000;
}

.link{
    text-decoration: none;
}

@media (max-width: 480px) {
    .signup-container{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    
        
    
    
    }
    
    .signup-box{
        width: 90%;
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #dbdbdb;
        border-radius: 20px;
    }
    .signup-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .signup-data-fields{
        height: 40px;
        width: 85%;
        padding-left: 5%;
        border: 1px solid darkgray;
        border-radius: 25px;
        outline: none;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        margin: 10px 0;
    }
    
    .signup-btn{
        height: 40px;
        width: 90%;
        border: none;
        border-radius: 25px;
        outline: none;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        
        cursor: pointer;
        background-color: #70350b;
        color: #ffff;
    
        margin: 10px 0 20px 0;
    
    }
    .google-signin-anchor{
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .google-sign-in{
        height: 40px;
        width: 90%;
        border: 1px solid darkgray;
        border-radius: 25px;
        outline: none;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        
        cursor: pointer;
        margin: 20px 0 10px 0;
       
        
        
    }
    .google-sign-in:hover{
        background-color: #f2f2f2;
    }
    
    .google-sign-in img{
        height: 40px;
        width: 40px;
    }
    
    .google-sign-in p{
        font-size: 15px;
        font-weight: 750px;
        color: #000000;
    }
    
    
}