.shop-container{
    /* changed */
    background-image: url('/public/images/landing-page-background-coffee.jpg');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    width: 100%;
    /* margin-top: 50px; */
    z-index: 0;
}

.landing-page-line{
    /* changed */
    position: absolute;
    width: 45%;
    font-size: 2.8em;
    text-align: center;
    top: 20%;
    right: 10%;
    position: absolute;
    font-family: 'Lobster', cursive;
    font-weight: 500;
    color: #fff;
}
.product-parent{
    /* changed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 460px;
    width: 90%;
    
}
.product-parent h2{
    /* changed */
    margin-bottom: 30px;
}
.product-section{
    
    margin: 0 70px;
    /* width: 1000px; */
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    
}




.cart-section{
    /* changed */
    height: 70vh;
    margin: 50px 0;
    width: 10%;
    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;

    padding: 10px 20px;
    position: fixed;
    right: 0;
    /* top: 20px; */

    background-color: #45282C;
    color: #ffff;
    border-radius: 10px 0 0 10px;
    outline: 0;
    border: 0;
   
}
.cart-btn:hover{
    background-color: #45282cbb;
    cursor: pointer;
}

.cart-btn-text{
    font-size: 15px;
}
.cart-btn-icon{
    font-size: 50px;
}

.cart-icon-lg{
    display: flex;
    position: relative;
}

.cart-badge{
    width: 15px;
    padding: 5px;
    color:#ffff;
    background-color: rgb(223, 23, 23);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px solid #333333;
    font-size: 12px;
    display: flex;
    justify-content:center;
    align-items: center;


}

@media  screen and (max-width: 850px){
    .shop-container{
        display: flex;
        width: 100%;
        /* margin-top: 30px; */
        z-index: 0;
    }
    
    .product-section{
        margin: 30px 10px;
        
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .landing-page-line{
        /* changed */
        position: absolute;
        width: 80%;
        font-size: 2.5em;
        text-align: center;
        top: 30%;
        right: 10%;
        position: absolute;
        font-family: 'Lobster', cursive;
        font-weight: 500;
        color: #fff;
    }
    
    
    .cart-section{
        height: 70vh;
        margin: 50px 0;
        width: 10%;
        position: relative;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart-btn{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 20px;
    
        padding: 10px 15px;
        position: fixed;
        right: 0;
    
        background-color: #333333;
        color: #ffff;
        border-radius: 10px 0 0 10px;
        outline: 0;
        border: 0;
       
    }
    .cart-btn:hover{
        background-color: #1a1a1a;
        cursor: pointer;
    }
    
    .cart-btn-text{
        font-size: 12px;
    }
    .cart-btn-icon{
        font-size: 25px;
    }
    
    .cart-icon-lg{
        display: flex;
        position: relative;
    }
    
    .cart-badge{
        width: 8px;
        height: 8px;
        padding: 5px;
        color:#ffff;
        background-color: rgb(223, 23, 23);
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        border: 1px solid #333333;
        font-size: 9px;
        display: flex;
        justify-content:center;
        align-items: center;
    
    
    }
}
