.analytics-header h1{
    text-align: center;

}

.analytics-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    

}

@media (max-width: 480px){
    .analytics-header h1{
        text-align: center;
        font-size: 1.5em;
    
    }
    
    .analytics-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1%;
        
    
    }
}