.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 50px;
    
}


.primary-btn{
    background: linear-gradient(90deg, rgba(112,53,11,1) 53%, rgba(160,118,89,1) 100%);
    padding: 10px 20px;
    color: #ffff;
    border: 1px solid ;
    outline: none;
    border-radius: 25px;
    margin-right: 10px;
    font-weight: 550;
}

.secondary-btn{
    background: #f2f2f2;

    padding: 9px 20px;
    color: #000000;
    outline: 1px solid rgba(112,53,11,1);
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    font-weight: 550;
}


