@media (min-width: 700px){
    .modal{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.3);
        top: 95px;
        right: 0;
        bottom: 0;
        left: 0;
    
        position: fixed;
    }
    .x-btn{
        outline: 0;
        border: 0;
        background-color: #45282C;
    
        color:#ffff;
    }
    .x-btn:hover{
        cursor: pointer;
    }
    .modal-content{
        width: 800px;
        background-color: #ffff;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
    
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 0 20px;
        
    }
    
    .modal-body{
        display: flex;
        padding: 10px 20px;
        height: 65vh;
    }
    
    .cart-products{
        margin-right: 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-right: 10px;
    }
    
    .cart-products::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    .cart-products::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
    }
    
    .cart-products::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    
    
    .cart-lucky-one-generator{
        margin-left: 20px;
        width: 50%;
    }
    .random-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .cart-random-reset-btn{
        display: flex;
        align-items: center;
        justify-content: center;
      
       
    }
    
    .cart-random-btn{
        outline:0;
        border: 1px solid #45282C;
    
        padding: 10px 10px;
        border-radius: 22px;
        margin: 20px 10px;
        color: #ffff;
        background-color: #45282C;
    
    
    }
    .cart-random-btn:hover{
        background:#45282cda;
    }
    
    .cart-reset-btn{
        outline:0;
    
        padding: 10px 20px;
        border-radius: 22px;
        margin: 20px 10px;
        color: #333333;
        background-color: #ffff;
        border: 1px solid #333333;
    }
    .cart-reset-btn:hover{
        background:#1a1a1a;
        color: #ffff;
    }
}

@media  screen and (max-width: 700px){
    .modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.3);
    
        top: 25px;
        right: 0;
        bottom: 0;
        left: 0;
    
        position: fixed;
    }
    .x-btn{
        outline: 0;
        border: 0;
        background-color: #45282C;
        color:#ffff;
    }
    .x-btn:hover{
        cursor: pointer;
    }
    .modal-content{
        width: 340px;
        background-color: #ffff;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        margin-top: 30px;

    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        padding: 0 20px;
        
    }
    
    .modal-body{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        overflow-y: auto;
        height: 50vh;
        
    }

    .cart-products{
        margin-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .random-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
 
    .cart-lucky-one-generator{
        margin-left: 0;
        width: 100%;
    }
    
    .cart-random-reset-btn{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    
    .cart-random-btn{
        outline:0;
        border: 1px solid #45282C;
    
        padding: 10px 20px;
        border-radius: 22px;
        margin: 10px 5px;
        color: #ffff;
        background-color: #45282C;
    
    
    }
    .cart-random-btn:hover{
        background:#45282cdc;
    }
    
    .cart-reset-btn{
        outline:0;
    
        padding: 10px 10px;
        border-radius: 22px;
        margin: 10px 5px;
        color: #333333;
        background-color: #ffff;
        border: 1px solid #333333;
    }
    .cart-reset-btn:hover{
        background:#45282C;
        color: #ffff;
    }
    
}